Rust/
app/src/main/assets/data
app/src/main/assets/lang
app/src/main/assets/assets
app/src/main/cpp/game_core.h

*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
